In [1]:
import os
import pandas as pd

# Define the root directory
root_dir = "data"

# Iterate over all subdirectories and files
for dirpath, dirnames, filenames in os.walk(root_dir):
    for file in filenames:
        if file == "varscan-annotated.tsv":
            # Full path to the current table.tsv
            file_path = os.path.join(dirpath, file)
            
            # Extract the replicate folder name
            replicate_folder = os.path.basename(os.path.dirname(dirpath))
            
            # Read the TSV file
            df = pd.read_csv(file_path, sep='\t')
            
            # Add the "replicate" column
            df['replicate'] = replicate_folder
            
            # Save the updated DataFrame back to the file
            df.to_csv(file_path, sep='\t', index=False)
            
            print(f"Updated: {file_path}")

Updated: data/be_w3/replicate-2/remapping/varscan-annotated.tsv
Updated: data/be_w3/replicate-1/remapping/varscan-annotated.tsv
Updated: data/rth_w2/replicate-2/remapping/varscan-annotated.tsv
Updated: data/rth_w2/replicate-1/remapping/varscan-annotated.tsv
Updated: data/cl_c2/replicate-1/remapping/varscan-annotated.tsv
Updated: data/be_w2/replicate-1/remapping/varscan-annotated.tsv
Updated: data/rth_w3/replicate-2/remapping/varscan-annotated.tsv
Updated: data/rth_w3/replicate-1/remapping/varscan-annotated.tsv
Updated: data/ms_w1/replicate-2/remapping/varscan-annotated.tsv
Updated: data/ms_w1/replicate-1/remapping/varscan-annotated.tsv
Updated: data/kc_com3/replicate-2/remapping/varscan-annotated.tsv
Updated: data/kc_com3/replicate-1/remapping/varscan-annotated.tsv
Updated: data/kc_com4/replicate-2/remapping/varscan-annotated.tsv
Updated: data/kc_com4/replicate-1/remapping/varscan-annotated.tsv
Updated: data/kc_com5/replicate-2/remapping/varscan-annotated.tsv
Updated: data/kc_com5/replicate-1/remapping/varscan-annotated.tsv
Updated: data/kc_com2/replicate-2/remapping/varscan-annotated.tsv
Updated: data/kc_com2/replicate-1/remapping/varscan-annotated.tsv
Updated: data/cb_com1/replicate-2/remapping/varscan-annotated.tsv
Updated: data/cb_com1/replicate-1/remapping/varscan-annotated.tsv
Updated: data/cg_w1/replicate-2/remapping/varscan-annotated.tsv
Updated: data/cg_w1/replicate-1/remapping/varscan-annotated.tsv
Updated: data/g_com1/replicate-2/remapping/varscan-annotated.tsv
Updated: data/g_com1/replicate-1/remapping/varscan-annotated.tsv
Updated: data/gf_w1/replicate-2/remapping/varscan-annotated.tsv
Updated: data/gf_w1/replicate-1/remapping/varscan-annotated.tsv
Updated: data/rf_w1/replicate-1/remapping/varscan-annotated.tsv
Updated: data/bv_w2/replicate-2/remapping/varscan-annotated.tsv
Updated: data/bv_w2/replicate-1/remapping/varscan-annotated.tsv
Updated: data/bv_w5/replicate-1/remapping/varscan-annotated.tsv
Updated: data/bv_w4/replicate-2/remapping/varscan-annotated.tsv
Updated: data/bv_w4/replicate-1/remapping/varscan-annotated.tsv
Updated: data/bv_w3/replicate-2/remapping/varscan-annotated.tsv
Updated: data/bv_w3/replicate-1/remapping/varscan-annotated.tsv
Updated: data/rth_w1/replicate-2/remapping/varscan-annotated.tsv
Updated: data/rth_w1/replicate-1/remapping/varscan-annotated.tsv
Updated: data/cl_c1/replicate-1/remapping/varscan-annotated.tsv
Updated: data/blvu_adams/replicate-1/remapping/varscan-annotated.tsv
Updated: data/be_w1/replicate-2/remapping/varscan-annotated.tsv
Updated: data/be_w1/replicate-1/remapping/varscan-annotated.tsv
Updated: data/ms_w2/replicate-2/remapping/varscan-annotated.tsv
Updated: data/ms_w2/replicate-1/remapping/varscan-annotated.tsv
Updated: data/kc_com1/replicate-2/remapping/varscan-annotated.tsv
Updated: data/kc_com1/replicate-1/remapping/varscan-annotated.tsv
Updated: data/kc_com6/replicate-2/remapping/varscan-annotated.tsv
Updated: data/kc_com6/replicate-1/remapping/varscan-annotated.tsv
Updated: data/kc_com8/replicate-2/remapping/varscan-annotated.tsv
Updated: data/kc_com8/replicate-1/remapping/varscan-annotated.tsv
Updated: data/gf_w2/replicate-2/remapping/varscan-annotated.tsv
Updated: data/gf_w2/replicate-1/remapping/varscan-annotated.tsv
Updated: data/g_com2/replicate-2/remapping/varscan-annotated.tsv
Updated: data/g_com2/replicate-1/remapping/varscan-annotated.tsv
Updated: data/cb_com2/replicate-2/remapping/varscan-annotated.tsv
Updated: data/cb_com2/replicate-1/remapping/varscan-annotated.tsv
Updated: data/cg_w2/replicate-2/remapping/varscan-annotated.tsv
Updated: data/cg_w2/replicate-1/remapping/varscan-annotated.tsv
Updated: data/gf_w3/replicate-2/remapping/varscan-annotated.tsv
Updated: data/gf_w3/replicate-1/remapping/varscan-annotated.tsv
Updated: data/wws_w1/replicate-2/remapping/varscan-annotated.tsv
Updated: data/wws_w1/replicate-1/remapping/varscan-annotated.tsv
Updated: data/bo_w1/replicate-2/remapping/varscan-annotated.tsv
Updated: data/bo_w1/replicate-1/remapping/varscan-annotated.tsv
Updated: data/cb_com3/replicate-2/remapping/varscan-annotated.tsv
Updated: data/cb_com3/replicate-1/remapping/varscan-annotated.tsv
Updated: data/cb_com4/replicate-2/remapping/varscan-annotated.tsv
Updated: data/cb_com4/replicate-1/remapping/varscan-annotated.tsv
Updated: data/bv_w8/replicate-2/remapping/varscan-annotated.tsv
Updated: data/bv_w8/replicate-1/remapping/varscan-annotated.tsv
Updated: data/bv_w6/replicate-2/remapping/varscan-annotated.tsv
Updated: data/bv_w6/replicate-1/remapping/varscan-annotated.tsv
Updated: data/bv_w1/replicate-2/remapping/varscan-annotated.tsv
Updated: data/bv_w1/replicate-1/remapping/varscan-annotated.tsv
Updated: data/f_w1/replicate-2/remapping/varscan-annotated.tsv
Updated: data/f_w1/replicate-1/remapping/varscan-annotated.tsv
Updated: data/tv_w1/replicate-2/remapping/varscan-annotated.tsv
Updated: data/tv_w1/replicate-1/remapping/varscan-annotated.tsv
Updated: data/blvu_chester/replicate-2/remapping/varscan-annotated.tsv
Updated: data/blvu_chester/replicate-1/remapping/varscan-annotated.tsv
Updated: data/bv_w7/replicate-2/remapping/varscan-annotated.tsv
Updated: data/bv_w7/replicate-1/remapping/varscan-annotated.tsv

In [2]:
import os
import pandas as pd

# Define the root directory
# root_dir = "data_run4"

# Iterate over all sample folders
for sample_folder in os.listdir(root_dir):
    sample_path = os.path.join(root_dir, sample_folder)
    
    # Check if it's a directory (i.e., a sample folder)
    if os.path.isdir(sample_path):
        concatenated_data = []  # List to store dataframes for concatenation
        
        # Traverse the replicate subfolders
        for replicate_folder in os.listdir(sample_path):
            replicate_path = os.path.join(sample_path, replicate_folder, "remapping")
            
            # Full path to table.tsv
            tsv_path = os.path.join(replicate_path, "varscan-annotated.tsv")
            if os.path.exists(tsv_path):
                # Read the table.tsv and append it to the list
                df = pd.read_csv(tsv_path, sep='\t')
                concatenated_data.append(df)
        
        # If there are tables to concatenate
        if concatenated_data:
            # Concatenate all DataFrames
            concatenated_df = pd.concat(concatenated_data, ignore_index=True)
            
            # Save the concatenated DataFrame to a new TSV file in the sample folder
            output_file = os.path.join(sample_path, f"{sample_folder}_concat_annotated_varscan.tsv")
            concatenated_df.to_csv(output_file, sep='\t', index=False)
            
            print(f"Concatenated file saved: {output_file}")

Concatenated file saved: data/be_w3/be_w3_concat_annotated_varscan.tsv
Concatenated file saved: data/rth_w2/rth_w2_concat_annotated_varscan.tsv
Concatenated file saved: data/cl_c2/cl_c2_concat_annotated_varscan.tsv
Concatenated file saved: data/be_w2/be_w2_concat_annotated_varscan.tsv
Concatenated file saved: data/rth_w3/rth_w3_concat_annotated_varscan.tsv
Concatenated file saved: data/ms_w1/ms_w1_concat_annotated_varscan.tsv
Concatenated file saved: data/kc_com3/kc_com3_concat_annotated_varscan.tsv
Concatenated file saved: data/kc_com4/kc_com4_concat_annotated_varscan.tsv
Concatenated file saved: data/kc_com5/kc_com5_concat_annotated_varscan.tsv
Concatenated file saved: data/kc_com2/kc_com2_concat_annotated_varscan.tsv
Concatenated file saved: data/cb_com1/cb_com1_concat_annotated_varscan.tsv
Concatenated file saved: data/cg_w1/cg_w1_concat_annotated_varscan.tsv
Concatenated file saved: data/g_com1/g_com1_concat_annotated_varscan.tsv
Concatenated file saved: data/gf_w1/gf_w1_concat_annotated_varscan.tsv
Concatenated file saved: data/rf_w1/rf_w1_concat_annotated_varscan.tsv
Concatenated file saved: data/bv_w2/bv_w2_concat_annotated_varscan.tsv
Concatenated file saved: data/bv_w5/bv_w5_concat_annotated_varscan.tsv
Concatenated file saved: data/bv_w4/bv_w4_concat_annotated_varscan.tsv
Concatenated file saved: data/bv_w3/bv_w3_concat_annotated_varscan.tsv
Concatenated file saved: data/rth_w1/rth_w1_concat_annotated_varscan.tsv
Concatenated file saved: data/cl_c1/cl_c1_concat_annotated_varscan.tsv
Concatenated file saved: data/blvu_adams/blvu_adams_concat_annotated_varscan.tsv
Concatenated file saved: data/be_w1/be_w1_concat_annotated_varscan.tsv
Concatenated file saved: data/ms_w2/ms_w2_concat_annotated_varscan.tsv
Concatenated file saved: data/kc_com1/kc_com1_concat_annotated_varscan.tsv
Concatenated file saved: data/kc_com6/kc_com6_concat_annotated_varscan.tsv
Concatenated file saved: data/kc_com8/kc_com8_concat_annotated_varscan.tsv
Concatenated file saved: data/gf_w2/gf_w2_concat_annotated_varscan.tsv
Concatenated file saved: data/g_com2/g_com2_concat_annotated_varscan.tsv
Concatenated file saved: data/cb_com2/cb_com2_concat_annotated_varscan.tsv
Concatenated file saved: data/cg_w2/cg_w2_concat_annotated_varscan.tsv
Concatenated file saved: data/gf_w3/gf_w3_concat_annotated_varscan.tsv
Concatenated file saved: data/wws_w1/wws_w1_concat_annotated_varscan.tsv
Concatenated file saved: data/bo_w1/bo_w1_concat_annotated_varscan.tsv
Concatenated file saved: data/cb_com3/cb_com3_concat_annotated_varscan.tsv
Concatenated file saved: data/cb_com4/cb_com4_concat_annotated_varscan.tsv
Concatenated file saved: data/bv_w8/bv_w8_concat_annotated_varscan.tsv
Concatenated file saved: data/bv_w6/bv_w6_concat_annotated_varscan.tsv
Concatenated file saved: data/bv_w1/bv_w1_concat_annotated_varscan.tsv
Concatenated file saved: data/f_w1/f_w1_concat_annotated_varscan.tsv
Concatenated file saved: data/tv_w1/tv_w1_concat_annotated_varscan.tsv
Concatenated file saved: data/blvu_chester/blvu_chester_concat_annotated_varscan.tsv
Concatenated file saved: data/bv_w7/bv_w7_concat_annotated_varscan.tsv

In [3]:
import os
import pandas as pd

# Define the root directory
# root_dir = "data_run4"

# Iterate over all sample folders
for sample_folder in os.listdir(root_dir):
    sample_path = os.path.join(root_dir, sample_folder)
    
    # Check if it's a directory (i.e., a sample folder)
    if os.path.isdir(sample_path):
        # Path to the concatenated file
        concatenated_file = os.path.join(sample_path, f"{sample_folder}_concat_annotated_varscan.tsv")
        
        if os.path.exists(concatenated_file):
            # Read the concatenated TSV
            df = pd.read_csv(concatenated_file, sep='\t')
            
            # Add the "sample" column with the sample name
            df['sample_ID'] = sample_folder
            
            # Save the updated DataFrame back to the same file
            df.to_csv(concatenated_file, sep='\t', index=False)
            
            print(f"Updated file with sample column: {concatenated_file}")

Updated file with sample column: data/be_w3/be_w3_concat_annotated_varscan.tsv
Updated file with sample column: data/rth_w2/rth_w2_concat_annotated_varscan.tsv
Updated file with sample column: data/cl_c2/cl_c2_concat_annotated_varscan.tsv
Updated file with sample column: data/be_w2/be_w2_concat_annotated_varscan.tsv
Updated file with sample column: data/rth_w3/rth_w3_concat_annotated_varscan.tsv
Updated file with sample column: data/ms_w1/ms_w1_concat_annotated_varscan.tsv
Updated file with sample column: data/kc_com3/kc_com3_concat_annotated_varscan.tsv
Updated file with sample column: data/kc_com4/kc_com4_concat_annotated_varscan.tsv
Updated file with sample column: data/kc_com5/kc_com5_concat_annotated_varscan.tsv
Updated file with sample column: data/kc_com2/kc_com2_concat_annotated_varscan.tsv
Updated file with sample column: data/cb_com1/cb_com1_concat_annotated_varscan.tsv
Updated file with sample column: data/cg_w1/cg_w1_concat_annotated_varscan.tsv
Updated file with sample column: data/g_com1/g_com1_concat_annotated_varscan.tsv
Updated file with sample column: data/gf_w1/gf_w1_concat_annotated_varscan.tsv
Updated file with sample column: data/rf_w1/rf_w1_concat_annotated_varscan.tsv
Updated file with sample column: data/bv_w2/bv_w2_concat_annotated_varscan.tsv
Updated file with sample column: data/bv_w5/bv_w5_concat_annotated_varscan.tsv
Updated file with sample column: data/bv_w4/bv_w4_concat_annotated_varscan.tsv
Updated file with sample column: data/bv_w3/bv_w3_concat_annotated_varscan.tsv
Updated file with sample column: data/rth_w1/rth_w1_concat_annotated_varscan.tsv
Updated file with sample column: data/cl_c1/cl_c1_concat_annotated_varscan.tsv
Updated file with sample column: data/blvu_adams/blvu_adams_concat_annotated_varscan.tsv
Updated file with sample column: data/be_w1/be_w1_concat_annotated_varscan.tsv
Updated file with sample column: data/ms_w2/ms_w2_concat_annotated_varscan.tsv
Updated file with sample column: data/kc_com1/kc_com1_concat_annotated_varscan.tsv
Updated file with sample column: data/kc_com6/kc_com6_concat_annotated_varscan.tsv
Updated file with sample column: data/kc_com8/kc_com8_concat_annotated_varscan.tsv
Updated file with sample column: data/gf_w2/gf_w2_concat_annotated_varscan.tsv
Updated file with sample column: data/g_com2/g_com2_concat_annotated_varscan.tsv
Updated file with sample column: data/cb_com2/cb_com2_concat_annotated_varscan.tsv
Updated file with sample column: data/cg_w2/cg_w2_concat_annotated_varscan.tsv
Updated file with sample column: data/gf_w3/gf_w3_concat_annotated_varscan.tsv
Updated file with sample column: data/wws_w1/wws_w1_concat_annotated_varscan.tsv
Updated file with sample column: data/bo_w1/bo_w1_concat_annotated_varscan.tsv
Updated file with sample column: data/cb_com3/cb_com3_concat_annotated_varscan.tsv
Updated file with sample column: data/cb_com4/cb_com4_concat_annotated_varscan.tsv
Updated file with sample column: data/bv_w8/bv_w8_concat_annotated_varscan.tsv
Updated file with sample column: data/bv_w6/bv_w6_concat_annotated_varscan.tsv
Updated file with sample column: data/bv_w1/bv_w1_concat_annotated_varscan.tsv
Updated file with sample column: data/f_w1/f_w1_concat_annotated_varscan.tsv
Updated file with sample column: data/tv_w1/tv_w1_concat_annotated_varscan.tsv
Updated file with sample column: data/blvu_chester/blvu_chester_concat_annotated_varscan.tsv
Updated file with sample column: data/bv_w7/bv_w7_concat_annotated_varscan.tsv

In [4]:
import os
import pandas as pd

# Define the root directory
# root_dir = "data_run4"

# List to store DataFrames from each sample folder
all_data = []

# Iterate over all sample folders
for sample_folder in os.listdir(root_dir):
    sample_path = os.path.join(root_dir, sample_folder)
    
    # Check if it's a directory (i.e., a sample folder)
    if os.path.isdir(sample_path):
        # Path to the concatenated file
        concatenated_file = os.path.join(sample_path, f"{sample_folder}_concat_annotated_varscan.tsv")
        
        if os.path.exists(concatenated_file):
            # Read the concatenated TSV
            df = pd.read_csv(concatenated_file, sep='\t')
            all_data.append(df)

# Concatenate all DataFrames
if all_data:
    combined_df = pd.concat(all_data, ignore_index=True)
    
    # Save the combined DataFrame to the root directory
    output_file = os.path.join(root_dir, "all_samples_combined_annotated_varscan.tsv")
    combined_df.to_csv(output_file, sep='\t', index=False)
    
    print(f"All samples combined into: {output_file}")
else:
    print("No concatenated files found to combine.")

All samples combined into: data/all_samples_combined_annotated_varscan.tsv

In [26]:
# import pandas as pd

# # Load the combined TSV file
# file_path = "data_run5/all_samples_combined_annotated_varscan.tsv"
# df = pd.read_csv(file_path, sep='\t')
# df.drop('Unnamed: 9', axis=1, inplace=True)

# # Ensure column names are clean (strip leading/trailing spaces)
# df.columns = df.columns.str.strip()

# # Check for necessary columns
# required_cols = ['sample_ID', 'gene', 'reference_position', 'replicate']
# missing_cols = [col for col in required_cols if col not in df.columns]
# if missing_cols:
#     raise ValueError(f"Missing columns in the DataFrame: {missing_cols}")

# # Debug: Check how the data is grouped by sample, gene, and reference_position
# # This will print a preview of the groupings for the first sample/gene/reference_position combination
# for name, group in df.groupby(['sample_ID', 'gene', 'reference_position']):
#     print(f"Group for {name}:")
#     print(group)
#     print("-" * 40)
#     break  # Just show the first group to debug

# # Add the rep_shared column based on presence of variant in all replicates
# df['rep_shared'] = df.groupby(['sample_ID', 'gene', 'reference_position'])['replicate'].transform(
#     lambda x: 'shared' if x.nunique() == len(x) else 'not_shared'
# )

# # Save the updated DataFrame
# output_file = "data_run5/all_samples_combined_with_shared_status.tsv"
# df.to_csv(output_file, sep='\t', index=False)

# print(f"Updated file with rep_shared column saved: {output_file}")

Group for ('CB_com3', 'HA', 867):
     sample gene  reference_position reference_allele variant_allele  \
1817     ha   HA                 867                G              C
2135     ha   HA                 867                G              C

     coding_region_change synonymous/nonsynonymous frequency(%)  frequency  \
1817            Val285Leu            nonsynonymous        4.56%     0.0456
2135            Val285Leu            nonsynonymous        8.19%     0.0819

        replicate sample_ID
1817  replicate-2   CB_com3
2135  replicate-1   CB_com3
----------------------------------------
Updated file with rep_shared column saved: data_run5/all_samples_combined_with_shared_status.tsv

In [31]:
# import pandas as pd

# # Load the combined TSV file
# file_path = "data_run5/all_samples_combined_annotated_varscan.tsv"
# df = pd.read_csv(file_path, sep='\t')
# df.drop('Unnamed: 9', axis=1, inplace=True)

# # Ensure column names are clean (strip leading/trailing spaces)
# df.columns = df.columns.str.strip()

# # Check for necessary columns
# required_cols = ['sample_ID', 'gene', 'reference_position', 'replicate']
# missing_cols = [col for col in required_cols if col not in df.columns]
# if missing_cols:
#     raise ValueError(f"Missing columns in the DataFrame: {missing_cols}")

# # Group by sample, gene, and reference_position to check for shared variants
# def determine_shared_status(group):
#     # Get unique replicates for the group
#     unique_replicates = group['replicate'].nunique()
#     # Check if the combination of sample, gene, and reference_position is present in all replicates
#     if unique_replicates == len(group['replicate'].unique()):
#         return 'shared'
#     else:
#         return 'not_shared'

# # Apply the function to determine shared status
# df['rep_shared'] = df.groupby(['sample_ID', 'gene', 'reference_position']).apply(
#     lambda x: 'shared' if x['replicate'].nunique() == len(x['replicate'].unique()) else 'not_shared'
# ).reset_index(level=[0, 1, 2], drop=True)

# # Save the updated DataFrame
# output_file = "data_run5/all_samples_combined_with_shared_status.tsv"
# df.to_csv(output_file, sep='\t', index=False)

# print(f"Updated file with rep_shared column saved: {output_file}")

Updated file with rep_shared column saved: data_run5/all_samples_combined_with_shared_status.tsv

/var/folders/jt/pw4h3n2n3rz8mxjkqn3d57x00000gr/T/ipykernel_48721/54674250.py:28: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df['rep_shared'] = df.groupby(['sample_ID', 'gene', 'reference_position']).apply(

In [35]:
df.tail(35)

,sample,gene,reference_position,reference_allele,variant_allele,coding_region_change,synonymous/nonsynonymous,frequency(%),frequency,replicate,sample_ID,rep_shared
2470,pb1,PB1,845,T,A,Leu282Stop,stop_gained,3.17%,0.0317,replicate-1,CB_com4,NaN
2471,pb1,PB1,1230,T,C,Gly410Gly,synonymous,6.47%,0.0647,replicate-1,CB_com4,NaN
2472,pb1,PB1,1569,G,A,Met523Ile,nonsynonymous,1.94%,0.0194,replicate-1,CB_com4,NaN
2473,pb2,PB2,1077,A,G,Glu358Glu,synonymous,77.04%,0.7704,replicate-1,CB_com4,NaN
2474,pb2,PB2,1476,T,A,Thr491Thr,synonymous,99.94%,0.9994,replicate-1,CB_com4,NaN
2475,pb2,PB2,1480,A,C,Arg493Arg,synonymous,99.88%,0.9988,replicate-1,CB_com4,NaN
2476,pb2,PB2,1485,G,A,Val494Val,synonymous,100%,1.0000,replicate-1,CB_com4,NaN
2477,pb2,PB2,1488,C,A,Val495Val,synonymous,99.98%,0.9998,replicate-1,CB_com4,NaN
2478,pb2,PB2,1491,G,A,Val496Val,synonymous,99.98%,0.9998,replicate-1,CB_com4,NaN
2479,pb2,PB2,1494,T,C,Ser497Ser,synonymous,99.95%,0.9995,replicate-1,CB_com4,NaN
2480,pb2,PB2,1497,T,C,Ile498Ile,synonymous,99.86%,0.9986,replicate-1,CB_com4,NaN
2481,pb2,PB2,1500,T,C,Asp499Asp,synonymous,99.98%,0.9998,replicate-1,CB_com4,NaN
2482,pb2,PB2,1503,C,A,Arg500Arg,synonymous,99.95%,0.9995,replicate-1,CB_com4,NaN
2483,pb2,PB2,1506,C,T,Phe501Phe,synonymous,100%,1.0000,replicate-1,CB_com4,NaN
2484,pb2,PB2,1512,G,A,Arg503Arg,synonymous,99.98%,0.9998,replicate-1,CB_com4,NaN
2485,pb2,PB2,1515,C,T,Val504Val,synonymous,99.98%,0.9998,replicate-1,CB_com4,NaN
2486,pb2,PB2,1524,G,A,Gln507Gln,synonymous,99.93%,0.9993,replicate-1,CB_com4,NaN
2487,pb2,PB2,1525,A,C,Arg508Arg,synonymous,99.91%,0.9991,replicate-1,CB_com4,NaN
2488,pb2,PB2,1530,A,G,Gly509Gly,synonymous,99.63%,0.9963,replicate-1,CB_com4,NaN
2489,pb2,PB2,1539,T,A,Leu512Leu,synonymous,99.95%,0.9995,replicate-1,CB_com4,NaN
2490,pb2,PB2,1540,T,C,Leu513Leu,synonymous,100%,1.0000,replicate-1,CB_com4,NaN
2491,pb2,PB2,1545,T,A,Ser514Ser,synonymous,99.96%,0.9996,replicate-1,CB_com4,NaN
2492,pb2,PB2,1548,T,C,Pro515Pro,synonymous,99.84%,0.9984,replicate-1,CB_com4,NaN
2493,pb2,PB2,1557,T,C,Val518Val,synonymous,99.82%,0.9982,replicate-1,CB_com4,NaN
2494,pb2,PB2,1560,T,C,Ser519Ser,synonymous,100%,1.0000,replicate-1,CB_com4,NaN
2495,pb2,PB2,1563,A,G,Glu520Glu,synonymous,99.9%,0.9990,replicate-1,CB_com4,NaN
2496,pb2,PB2,1569,G,A,Gln522Gln,synonymous,99.98%,0.9998,replicate-1,CB_com4,NaN
2497,pb2,PB2,1581,G,A,Lys526Lys,synonymous,99.95%,0.9995,replicate-1,CB_com4,NaN
2498,pb2,PB2,1587,G,A,Thr528Thr,synonymous,100%,1.0000,replicate-1,CB_com4,NaN
2499,pb2,PB2,1590,A,C,Ile529Ile,synonymous,99.74%,0.9974,replicate-1,CB_com4,NaN
2500,pb2,PB2,1593,A,T,Thr530Thr,synonymous,99.95%,0.9995,replicate-1,CB_com4,NaN
2501,pb2,PB2,1599,A,G,Ser532Ser,synonymous,99.97%,0.9997,replicate-1,CB_com4,NaN
2502,pb2,PB2,1605,C,A,Ser534Ser,synonymous,99.97%,0.9997,replicate-1,CB_com4,NaN
2503,pb2,PB2,1617,A,G,Glu538Glu,synonymous,99.91%,0.9991,replicate-1,CB_com4,NaN
2504,pb2,PB2,1620,T,C,Ile539Ile,synonymous,99.89%,0.9989,replicate-1,CB_com4,NaN